@model IEnumerable<elearning_b1.Models.Vocabulary>

@{
    ViewData["Title"] = "Vocabulary List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var topicId = ViewData["TopicID"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Create", "Vocabularies", new { area = "Admin", topicId = topicId })" class="btn btn-primary">Create New Vocabulary</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Word</th>
            <th>Meaning</th>
            <th>Pronunciation</th>
            <th>Part of Speech</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vocabulary in Model)
        {
            <tr>
                <td>@vocabulary.Word</td>
                <td>@vocabulary.Meaning</td>
                <td>@vocabulary.Pronunciation</td>
                <td>@vocabulary.PartOfSpeech</td>
                <td>
                    <a href="@Url.Action("Edit", "Vocabularies", new { area = "Admin", id = vocabulary.VocabularyID, topicId = topicId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Vocabularies", new { area = "Admin", id = vocabulary.VocabularyID, topicId = topicId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
